*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('bookshelf.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat:no-repeat;
  height: 100vh;
  background-color: #000;
  text-align: center;
}

.search
{
  position: relative;
  width: 360px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #000;
  overflow: hidden;
}

.search .icon
{

  content: '';
  position: absolute;
  height: 12px;
  background: #000;
  transform: translate(6px,6px) rotate(315deg);
}


.search .input
{
  position: relative;
  width: 300px;
  height: 60px;
  /* left: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .input input
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
}

.clear
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before
{
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}

.clear::after
{
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(315deg);
}
