<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search result</title>
    <link rel="stylesheet" href="./style/profile.css">
</head>
<body>
    <a href="/home?name=<%=temp.name%> "><button class="center">Home</button></a><br>
    <div class = "h1div"><h1>Results for search term: </h1>
            
                
            <h2><p><%= temp.name%></p></h2>
                <p><%= temp.email%> </p>
                <p><%= temp.phno%> </p>         
        </div>
          
</body>
</html>